.workspace {
  display: flex;
  align-items: flex-start;

  gap: 2.5rem;

  padding-left: 5.5rem;
  padding-right: 5.5rem;
  margin-top: 3rem;
}
.main-layout {
  display: flex;

  align-items: flex-start;

  gap: 3rem;

  padding: 2rem 4rem;
}

.right-panel {
  width: 350px;

  display: flex;
  flex-direction: column;

  gap: 1.5rem;

  margin-top: 1.5rem;
}